::ng-deep .pais-dropdown-panel .mat-option {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
  }
  
  ::ng-deep .pais-dropdown-panel {
    background-color: white !important;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  