<div class="container mt-5">
  <h2>Restablecer contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.emailRequired" appearance="outline" class="w-100 mb-3">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" formControlName="email" required>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="isLoading">
      Cambiar contraseña
    </button>

    <!-- Circular Loader -->
    <div *ngIf="isLoading" class="loading-spinner"></div>
  </form>

  <div *ngIf="mensaje" class="alert alert-success mt-3">
    {{ mensaje }}
  </div>
  
  <div *ngIf="error" class="alert alert-danger mt-3">
    {{ error }}
  </div>
  
</div>
