<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">

      <!-- Título -->
      <h2 class="mb-4 text-center">
        <i class="bi bi-list"></i> Lista de Productos de {{ proveedorDescripcion }}
      </h2>

      

      <!-- Mostrar mensaje de notificación si hay productos listos para enviar -->
      <div *ngIf="productosParaEnviar > 0" class="alert alert-info text-center">
        ¡Ya puedes enviar {{ productosParaEnviar }} producto(s)!
      </div>

      <!-- Botón de Enviar -->
      <div *ngIf="productosParaEnviar > 0" class="text-center mb-4">
        <button class="btn btn-primary">Enviar Todos</button>
      </div>

      <!-- Buscador -->
      <div class="mb-4 d-flex justify-content-center align-items-center">
        <input
          type="text"
          class="form-control w-50"
          placeholder="Buscar"
          (keyup)="filter($event)"
          [(ngModel)]="strFiltro"
        />
        <div class="d-inline-flex mx-2">
          <nav class="my-4">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.active]="nRpp === 10">
                <a class="page-link" (click)="goToRpp(10)" href="#">10</a>
              </li>
              <li class="page-item" [class.active]="nRpp === 50">
                <a class="page-link" (click)="goToRpp(50)" href="#">50</a>
              </li>
              <li class="page-item" [class.active]="nRpp === 100">
                <a class="page-link" (click)="goToRpp(100)" href="#">100</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Info filtro y cantidad -->
      <div class="d-flex justify-content-between">
        <h5 class="text-muted">
          Filtrado por: <span class="text-danger">{{ strFiltro }}</span>
        </h5>
        <h5 class="text-muted">
          Mostrando {{ oPage?.numberOfElements | number: '1.0-0' }} de {{ oPage?.totalElements | number: '1.0-0' }}
        </h5>
      </div>

      <!-- Mensaje cuando no hay artículos -->
      <div *ngIf="noArticulosMessage" class="alert alert-info text-center">
        {{ noArticulosMessage }}
      </div>

      <!-- Loader -->
      <div *ngIf="loading" class="text-center my-4">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>

      <!-- Tabla -->
      <div class="table-responsive" *ngIf="!loading && !noArticulosMessage">
        <table class="table table-striped table-bordered align-middle text-center">
          <thead class="table-success text-white bg-success">
            <tr>
              <th>ID</th>
              <th>Descripción</th>
              <th>Descripción TIC</th>
              <th>Departamento</th>
              <th>Familia</th>
              <th>Subfamilia</th>
              <th>Marca</th>
              <th>Unidad de Medida</th>
              <th>Cantidad</th>
              <th>Centralizado</th>
              <th>Apeso</th>
              <th>Unidad Caja</th>
              <th>Unidad Servicio</th>
              <th>PK</th>
              <th>Cajas Capa</th>
              <th>Cajas Palet</th>
              <th>Proveedor</th>
              <th>Referencia Proveedor</th>
              <th>EAN</th>
              <th>EAN C</th>
              <th>EAN P</th>
              <th>Largo</th>
              <th>Ancho</th>
              <th>Alto</th>
              <th>Peso</th>
              <th>Días Caducidad</th>
              <th>ARA CEN</th>
              <th>IVA</th>
              <th>Precio Venta</th>
              <th>PVP HOM</th>
              <th>PVP AND</th>
              <th>PVP CAT</th>
              <th>Precio Tarifa</th>
              <th>PRO FAC</th>
              <th>Precio Neto</th>
              <th>PRO FFAC</th>
              <th>PRO NETON</th>
              <th>ART MKD</th>
              <th>Articulo Sustituido</th>
              <th>Insertado por</th>
              <th>Actualizado por</th>
              <th>Status</th>
              <th>Observaciones</th>
              <th>Partida Arancelaria</th>
              <th>PVP MEL</th>
              <th>País Origen</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of oPage?.content" class="clickable-row" (click)="edit(producto)">
              <td [ngClass]="getCellClass(producto.id)">{{ producto.id || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.descripcion)">{{ producto.descripcion || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.descripcionTic)">{{ producto.descripcionTic || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.departamento)">{{ producto.departamento || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.familia)">{{ producto.familia || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.subfamilia)">{{ producto.subfamilia || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.marca)">{{ producto.marca || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.unidadDeMedida)">{{ producto.unidadDeMedida || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.cantidad)">{{ producto.cantidad || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.centralizado)">{{ producto.centralizado || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.apeso)">{{ producto.apeso || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.unidadDeCaja)">{{ producto.unidadDeCaja || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.unidadDeServicio)">{{ producto.unidadDeServicio || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pk)">{{ producto.pk || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.cajasCapa)">{{ producto.cajasCapa || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.cajasPalet)">{{ producto.cajasPalet || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.proveedor)">{{ producto.proveedor || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.referenciaProveedor)">{{ producto.referenciaProveedor || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.ean)">{{ producto.ean || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.ean_c)">{{ producto.ean_c || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.ean_p)">{{ producto.ean_p || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.largo)">{{ producto.largo || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.ancho)">{{ producto.ancho || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.alto)">{{ producto.alto || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.peso)">{{ producto.peso || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.diasCaducidad)">{{ producto.diasCaducidad || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.ara_cen)">{{ producto.ara_cen || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.iva)">{{ producto.iva || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.precioVenta)">{{ producto.precioVenta || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pvp_hom)">{{ producto.pvp_hom || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pvp_and)">{{ producto.pvp_and || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pvp_cat)">{{ producto.pvp_cat || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.precioTarifa)">{{ producto.precioTarifa || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pro_fac)">{{ producto.pro_fac || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.precioNeto)">{{ producto.precioNeto || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pro_ffac)">{{ producto.pro_ffac || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pro_neton)">{{ producto.pro_neton || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.art_mkd)">{{ producto.art_mkd || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.articuloSustituido)">{{ producto.articuloSustituido || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.insertedBy)">{{ producto.insertedBy || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.updateBy)">{{ producto.updateBy || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.status)">{{ producto.status }}</td>
              <td [ngClass]="getCellClass(producto.observaciones)">{{ producto.observaciones || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.partidaArancelaria)">{{ producto.partidaArancelaria || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.pvp_mel)">{{ producto.pvp_mel || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.paisOrigen)">{{ producto.paisOrigen || 'Sin dato' }}</td>
              <td [ngClass]="getCellClass(producto.estado)">{{ producto.estado || 'Sin dato' }}</td>
              <td>
                
                <div class="btn-group btn-group-sm">
                    <button *ngIf="producto.showEnviarButton" class="btn btn-primary" (click)="enviarProducto(producto)">
                      <i class="bi bi-send"></i> Enviar
                    </button>
                  <button class="btn btn-success" (click)="view(producto); $event.stopPropagation()">
                    <i class="bi bi-eye"></i>
                  </button>
                  <button class="btn btn-warning" (click)="edit(producto); $event.stopPropagation()">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Paginación -->
      <nav class="mt-3" *ngIf="oPage && oPage.totalPages > 1">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="nPage <= 0">
            <a class="page-link" (click)="goToPrev()">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let p of arrBotonera" [class.active]="nPage === (+p - 1)">
            <ng-container *ngIf="p === '...'; else numPage">
              <span class="page-link disabled">…</span>
            </ng-container>
            <ng-template #numPage>
              <a class="page-link" href="#" (click)="goToPage(p)">{{ p }}</a>
            </ng-template>
          </li>
          <li class="page-item" [class.disabled]="oPage && nPage >= oPage.totalPages - 1">
            <a class="page-link" (click)="goToNext()">Siguiente</a>
          </li>
        </ul>

        <!-- Ir a página -->
        <div class="pagination-container mt-3">
          <div class="go-to-page-container">
            <label for="goToPage">Ir a la página:</label>
            <input
              id="goToPage"
              type="number"
              min="1"
              [max]="oPage.totalPages || 1"
              [(ngModel)]="customPage"
              class="go-to-page-input"
              [class.invalid]="isInvalidCustomPage()"
              (keyup.enter)="goToCustomPage()"
            />
            <button
              (click)="goToCustomPage()"
              class="go-to-page-button"
              [disabled]="isInvalidCustomPage()"
            >
              Ir
            </button>
          </div>
        </div>
      </nav>

      
    </div>
  </div>
</div>
